<h2>Doctor Name: <%= @doctor.name %></h2>
<h4>Department: <%= @doctor.department %></h4>
<p>
  Appointment Info: <%= @doctor.appointments %>
</p>
Patient Appointments:
<br />
<br />
  <% @doctor.appointments.each do |appt| %>
    Appt time: <%= appt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><br>
    Patient: <%= link_to appt.patient.name, patient_path(appt.patient) %>
    <br />
    <br />
  <% end %>
